
/* BODY */

body{
  background-color: #F66C5E;
}

/* CONTAINER */

.container .ep{
  width: 70%;
}


/* BOXES */

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #F5AE9E;
  margin: 10px;
}